html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.name__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.about__container {
  display: flex;
  justify-content: center;
}

.description__container {
  width: 500px;
  height: 400px;
}
